# mmn: can't rename wordpress event page (at least not so easy)
Redirect /event http://www.mmmnmnm.com/events/
# mmn: "new tracks" is a better name so let's keep it
Redirect /tracks http://www.mmmnmnm.com/new-tracks/

#Podcasts redirect
Redirect  /2017/06/11/mmn-2-alley-catss/ http://www.mmmnmnm.com/podcasts/mmn-2-alley-catss/

#New tracks redirect
Redirect  /2017/06/12/track-premier-norwell-celestial-bodies-imre-kiss-remix http://www.mmmnmnm.com/new-tracks/june
Redirect /2017/06/17/hallgass-egy-ket-ms-june-t http://www.mmmnmnm.com/new-tracks/june


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
