/*
 Theme Name:   Rebalance child mmn
 Theme URI:
 Description:  Rebalance based theme for mmmnmnm
 Author:       Peter Bokor
 Author URI:   www.mmmnmnm.com
 Template:     rebalance
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:
 Text Domain:
*/

.card:hover {
  color: #FFF;
  /*background-color: #b894c1; /*very light lila*/
  /* background-color: F35029; /* original */
  background-color: #000000;
}

.player-container {
    width: 100px;
    margin: 0 auto;
}

.player-button {
    padding: 0;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-color: black;
    background-color: white;
    outline: none;
}

.player-button:hover {
    background-color: #F6F6F6; /*Green*/
}

.player-button:not(:hover) {
    background-color: white; /*Green*/
}

/* mmmnmnm, mmn: 0 no border instead of 1px border */
.post-hero-image {
	border: 0px solid #DDD;
	margin-bottom: 10px;
}

/* mmmnmnm, mmn: custom menu styles via menu classes */
/*.menu-podcast a{
  color: green !important;
}

.menu-podcast a:hover{
  color: black !important;
}*/
.fade-out-text a{
  color:#d1b8c0 !important;
}
.fade-out-text a:hover{
  color:red !important;
  text-decoration:none
}
/*mmn: any English content text on a mixed language page should be this color*/
.fade-out-text{
  font-style: normal;
  color:#d1b8c0 !important;
}


/*mmn added*/
@font-face {
  font-family: 'Socicon';
  src: url('/fonts/Socicon.eot');
  src: url('/fonts/Socicon.eot#iefix') format('embedded-opentype'), url('/fonts/Socicon.woff2') format('woff2'), url('/fonts/Socicon.ttf') format('truetype'), url('/fonts/Socicon.woff') format('woff'), url('/fonts/Socicon.svg#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social-menu a[href*="mixcloud.com"]:before {
	content: '\e053';
  font-family: 'Socicon';
}

.social-menu a[href*="bandcamp.com"]:before {
	content: '\e00b';
  font-family: 'Socicon';
}

.rss-feed a:after {
	content: '\e071';
  font-family: 'Socicon';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-logo-link {
	display: inline-block;
	vertical-align: middle;
  /* mmmn: width added to scale down good quality logo pic*/
	width: 200px;
  /* mmmn: right margin removed not to confuse middle align */

}

/*mmn: scale down featured image*/
.entry-image img{
   height: auto;
    width: auto;
    max-height: 500px;
}

/*MMN: donatition digits style */

.flip-numbers {
	padding: 3rem;
	text-align: center;
}

.flip-digit-static {
	position: relative;
	font-size: 1.5rem;
	font-weight: bold;
  background: #444444;
	color: white;
	line-height: 1;
	padding: 0 0.5rem;
	border-radius: 0.8rem;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1;
}


.flip-digit {
	position: relative;
	font-size: 2rem;
	font-weight: bold;
  background: #444444;
	color: white;
	line-height: 1;
	padding: 0 0.5rem;
	border-radius: 0.8rem;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1;
}

.flip-digit:before {
		content: '';
		display: block;
		background: black;
		opacity: 0.20;
		height: 1px;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
    box-sizing: border-box;
	}

.flip-digit:after {
		content: '';
		display: block;
		background: black;
		opacity: 0.10;
		height: 50%;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		border-bottom-left-radius: 0.8rem;
		border-bottom-right-radius: 0.8rem;
    box-sizing: border-box;
	}


/*new mmn style*/
  a.donate_style{
      background-color: white;
      padding: .2rem .7rem;
      border-radius: 1.5rem;
      line-height: 1;
      transition: .4s ease;
      text-decoration: none;
      font-style: normal;
      border-style: solid;
      border-color: black;
      border-width: thin;
  }

  a.donate_style_highlight{
    background-color: #6feb58;
    padding: .2rem .7rem;
    border-radius: 1.5rem;
    line-height: 1;
    transition: .4s ease;
    text-decoration: none;
    font-style: normal;
    border-style: solid;
    border-color: black;
    border-width: thin;
}


  a.donate_style:hover, a.donate_style_highlight:hover{
    background-color: black;
    color:white;
  }

/*mmn style override*/
.site-description {
      font-family: "Rubik", "Helvetica Neue", sans-serif;
      font-style: normal;
      line-height: 150%; 
}



/* Gas - add, mixcloud player */


.mixcloud-footer-widget-body-wrapper.playing .site-heading {
    border-top: none;
}    

a, .mixcloud-footer-widget-container .closegomb {
	cursor: pointer;
}  

.mixcloud-footer-widget-container {
	top: 0;
	bottom: auto;
	background: #25292c;
	height: 0 !important;
}


.mixcloud-footer-widget-container iframe {
	margin: 0 auto;
    max-width: 1140px;
    width: 90%;
    display: block;
    height: 0 !important;
}

.mixcloud-footer-widget-container.closed iframe, .mixcloud-footer-widget-container.closed {
    height: 0 !important;
}

.mixcloud-footer-widget-container.opened iframe, .mixcloud-footer-widget-container.opened {
    height: 60px !important;
}

.mixcloud-footer-widget-body-wrapper {
	padding-top: 0;
	bottom: 0 !important;
}

.mixcloud-footer-widget-body-wrapper.opened {
	padding-top: 60px;
}

.mixcloud-footer-widget-container .closegomb {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    color: #e2e2e2;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 11px;
    background: #25292c;
    border-radius: 0 0 0 10px;
    font-size: 1.3em;
    z-index: 1000;
}

.mixcloud-footer-widget-container.opened .closegomb {
    font-size: 1em;
}


.mixcloud-footer-widget-body-wrapper, .mixcloud-footer-widget-container .closegomb {
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;
}


.mixcloud-footer-widget-container .closegomb:hover {
    color: white;
}




@media screen and (max-width: 881px) {

.mixcloud-footer-widget-container .closegomb {    padding: 2px 8px;   font-size: 1.2em; }
.mixcloud-footer-widget-container.opened {    height: 65px !important; }
    
}

figcaption {
  text-align: center;
  font-style: italic;
}